<!DOCTYPE html>
<html>
  <head>
    <title>Структурные теги</title>
    <link rel="stylesheet" href="./<style.css">
    <style>
      h1 {
        margin-left: 40px;
      }
      h2 {
        margin-bottom: 0;
        margin-top: 10px;
      }
      article {
        margin-bottom: 20px;
        margin-top: 0;
      }
    </style>
    </head>
    <body>
      <header>
        <h1>
          Как начать заниматься йогой
        </h1>
      </header>
      <section>
        <p>
          Советы для тех,кто намерен освоить асаны и искусство медитации
        </p>
      </section>
      <section>
        <p>
          Сейчас самое время с большим вниманием и заботой отнестись к собственному телу, регулярно заниматься йогой и освоить сложные асаны. ELLE рассказывает, как начать практиковать йогу на регулярной основе.
        </p>
      </section>
      <section>
        <h2>
          <span style="text-transform:uppercase">
            Занимайтесь дома
          </span>
        </h2>
      </section>
      <section>
        <article>
          <p>
            Если вы не хотите оказаться самым неопытным учеником на уроке йоги в студии, начните практиковаться дома. Изучите основные асаны: пусть вас не пугают слова «собака мордой вниз», «поза журавля» (ее еще называют «бакасана») и даже «поза трупа» (или шавасана). Включите видео на YouTube с уроком хатха-йоги и внимательно следите за инструктором. Нескольких таких домашних практик будет достаточно, чтобы понять, подходит ли вам йога или же вам больше по душе другой вид физической активности.
          </p>
        </article>
      </section>
      <p>
        <img src=" https://n1s1.elle.ru/44/f7/3b/44f73bdd98886254f8794082b70cf3e5/620x465_1_52c111a52979b9a5c6e526f5d3680d9b@1080x810_0xac120003_15464059101568815124.JPEG">
      </p>
      <footer>
        16+
      </footer>
    </body>
</html>
