      body {
        font-family: ' Merriweather', serif;  
       h1 {
        margin-left: 40px;
        font-family: 'Oswald', sans-serif;    
      }
      h2 {
        margin-bottom: 0;
        margin-top: 10px;
      }
      article {
        margin-bottom: 20px;
        margin-top: 0;
      }
      span {
        text-transform:uppercase
      }
            
